.Sub h2 {
  text-transform: uppercase;
  font-size: 26px;
  color: #5E5E5E;
}
.Main h1 {
  font-size: 40px;
}
.main_head {
  font-size: 50px;
  font-weight: 800;
  line-height: 60px;
}

#serviceList .serviceRow .box {
	padding: 30px;
	position: relative;
	transition: all .8s;
	overflow: hidden;
	position: relative;
	border-radius: 5px;
	background-color: #eaeaea;
	box-shadow: 0px 3px 80px 0px rgba(215,223,231,0.5);
	margin-bottom: 1.5rem;
}
#serviceList .serviceRow .box:hover {
    background: #eb4747;
    border-color: #eb4747;
  }
  #serviceList .serviceRow .box .outerBox {
    transition: all .8s;
  }
  #serviceList .serviceRow .box .hov_shape {
    border-radius: 50%;
    background: #f20811;
    position: absolute;
    right: 0px;
    top: 0px;
    transform: translate(60%, -60%);
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 0;
  }
  #serviceList .serviceRow .box .hov_shape {
    width: 400px;
    height: 400px;
  }
  #serviceList .serviceRow .box .top_ {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    position: relative;
    z-index: 1;
  }
  #serviceList .serviceRow .box .top_ .icon {
    min-height: 61px;
    max-height: 61px;
    display: flex;
    align-items: center;
    width: calc(100% - 50px);
  }
  #serviceList .serviceRow .box .top_ .icon svg {
    max-width: 58px;
    max-height: 58px;
  }
  #serviceList .serviceRow .box .top_ .more {
    width: 50px;
    height: 50px;
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
      transition-delay: 0s;
    transition-delay: .2s;
    transform: translateX(-13px);
  }
  #serviceList .serviceRow .box .title {
    font-size: 22px;
    color: #000;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 15px;
    transition: all .3s;
    position: relative;
    z-index: 1;
  }
  #serviceList .serviceRow .box .info {
    font-size: 16px;
    line-height: 26px;
    color: #414141;
    transition: all .3s;
    position: relative;
    z-index: 1;
    height: 160px;
  }
  #serviceList .serviceRow .box:hover .top_ .more {
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
  }
  #serviceList .serviceRow .box .top_ .more svg ellipse {
    fill-opacity: 0;
    stroke-width: 2px;
    stroke: #000;
  }
  #serviceList .serviceRow .box:hover .hov_shape {
    opacity: 1;
    visibility: visible;
    transform: translate(32%, -32%);
  }
  #serviceList .serviceRow .box .top_ .icon img {
    max-width: 70px;
  }
  #serviceList .serviceRow .box:hover .top_ .icon img {
    -webkit-filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(135deg) brightness(107%) contrast(106%);
filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(135deg) brightness(107%) contrast(106%);
  }
  #serviceList .serviceRow .box:hover  .title {
    color: #fff;
  }
  #serviceList .serviceRow .box:hover  .info {
    color: #fff;
  }
  .form_sec p {
    margin-bottom: 1rem;
    line-height: 1.3;
  }
  .btn.button_slide.slide_right {
    background: linear-gradient( to right, #f20811 10%, #eb4747 45%, #eb4747, #f20811 );
    color: #fff;
  }



  @media all and (min-width: 992px) {
    .megasubmenu{ 
      left:100%; top:0; min-height: 100%; min-width:500px;
    }
    
    .dropdown-menu > li:hover .megasubmenu{
      display: block;
    }
  }	
  .navbar-brand img {
    max-width: 200px;
  }
  
  .navbar-expand-lg .navbar-nav .nav-link {
    color: #000;
  }
  .nav-item.nav_cst_btn a .fa {
    color: #fff;
  }
  .nav-item.nav_cst_btn a:hover .fa {
    color: #E3204A;
  }





  