.box-about {
    padding-top: 3.3rem;
    -webkit-box-shadow: 0 14px 30px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.09);
    border-radius: 1rem;
    display: block;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2.8rem;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    background: #fff;
    margin-bottom: 1.5rem;
  }
  .code_image::after {
    content: "";
    position: absolute;
    background: url(../../assets/img/Licon1.svg);
    width: 21px;
    height: 20px;
    top: -9px;
    left: 20px;
    background-repeat: no-repeat;
  }
  .code_image{
    position: relative;
  }
  .code_image::before {
    content: "";
    position: absolute;
    background: url(../../assets/img/Licon2.svg);
    width: 20px;
    height: 20px;
    bottom: -6px;
    right: 14px;
    background-repeat: no-repeat;
  }
  .icon-box {
    text-align: center;
    position: relative;
  }
  .box-about * {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
  .svg-box {
    width: 82px;
    display: inline-block;
  }
  svg {
    overflow: hidden;
    vertical-align: middle;
  }
  .svg-box svg path {
    fill: rgba(227, 32, 74, 0.08);
    animation: dashin 0.4s forwards;
    -webkit-animation: dashin 0.4s forwards;
    -moz-animation: dashin 0.4s forwards;
    -ms-animation: dashin 0.4s forwards;
  }
  .svg-box.flipped {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    top: 0;
  }
  .icon-box img.main-icon {
    top: 50%;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
  }
  .box-about img {
    display: inline-block;
  }
  .box-about .title-wrapper {
    margin-top: 2.5rem;
  }
  .small-title-1 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #2e2f43;
    text-align: center;
  }
  .box-about .content-wrapper {
    margin-top: 1rem;
  }
  .box-about:hover {
    -webkit-box-shadow: 0 14px 30px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 14px 30px 0 rgba(0, 0, 0, 0.1);
    background: #e3204a;
  }
  .box-about:hover .small-title-1 {
    color: #fff;
  }
  .box-about:hover .body-font-5 {
    color: #fff;
  }
  
  
.header {
  border-bottom: 3px solid #ededed;
  background-color: #ffffff;
  min-height: 68px;
  display: flex;
}

.hidden {
  display: none;
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translateY(15%);
    transform: translateY(15%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideInUp {
  0% {
    -webkit-transform: translateY(15%);
    transform: translateY(15%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.header .header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

/* Mobile menu styles */
.header .header-row .mobile-menu {
  position: absolute;
  background-color: #2376ad;
  top: 100%;
  left: 0;
  width: 100%;
  border-top: 3px solid #e9900a;
}

.header .header-row .mobile-menu {
  background-color: #fff;
  padding: 15px 20px;
  box-shadow: 0 5px 8px rgb(0 0 0 / 15%);
}

.header .header-row .mobile-menu ul {
  list-style: none;
}

.header .header-row .mobile-menu ul li {
  margin-bottom: 10px;
}

.header .header-row .mobile-menu ul li:hover {
  background-color: rgba(222, 225, 226, 0.466);
}

/* Mega menu styles */
.header .header-row .mobile-menu ul li.mega-menu {
  position: relative;
}

.header .header-row .mobile-menu ul li.mega-menu .mega-menu-wrapper {
  display: none;
}

.header .header-row .mobile-menu ul li a {
  text-decoration: none;
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: rgb(128, 131, 131);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
}

.header .header-row .mobile-menu ul li.mega-menu:hover .mega-menu-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
}

.header
  .header-row
  .mobile-menu
  ul
  li.mega-menu
  .mega-menu-wrapper
  .mega-menu-col {
  margin-bottom: 20px;
}

.header
  .header-row
  .mobile-menu
  ul
  li.mega-menu
  .mega-menu-wrapper
  .mega-menu-col
  h5 {
  font-weight: 800;
  text-transform: uppercase;
}

.header
  .header-row
  .mobile-menu
  ul
  li.mega-menu
  .mega-menu-wrapper
  .mega-menu-col
  ul
  li
  a {
  font-weight: 400;
}

/* Simple drop down menu */
.header .header-row .mobile-menu ul li.dropdown {
  position: relative;
}

.header .header-row .mobile-menu ul li.dropdown .sub-menu-wrapper {
  display: none;
}

.header .header-row .mobile-menu ul li.dropdown .sub-menu-wrapper ul li a {
  font-weight: 400;
  padding-left: 15px;
}

.header .header-row .mobile-menu ul li.dropdown:hover .sub-menu-wrapper {
  display: block;
}

/* Hide desktop menu on mobile up to 48em */
@media (max-width: 48em) {
  .header .header-row .header-right .main-menu {
    display: none;
  }
}

/* Show menu on desktop 48em and above */
@media (min-width: 48em) {
  .header {
    border-bottom: 3px solid #ededed;
    background-color: #ffffff;
  }

  .header .header-row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
  }

  .header .mobile-toggler {
    display: none;
  }

  .header .header-row .header-right .main-menu {
    display: flex;
  }

  .header .header-row .header-right .main-menu li.menu-item {
    display: block;
  }

  .header .header-row .header-right .main-menu li.dropdown {
    position: relative;
  }

  .header .header-row .header-right .main-menu li.menu-item:not(:last-child) {
    margin: 0 20px 0 0;
  }

 
  .header .header-row .header-right .main-menu li.menu-item a.active {
    color: #e9900a;
  }

  .header .header-row .header-right .main-menu .sub-menu-wrapper {
    position: absolute;
    text-align: left;
    margin: 0;
    z-index: 111;
    min-width: 100%;
    line-height: 20px;
    display: none;
  }

  /* Show dropdown menu on hover */
  .header
    .header-row
    .header-right
    .main-menu
    > li.menu-item:hover
    .sub-menu-wrapper {
    display: block;
  }

  .header .header-row .header-right .main-menu .dropdown ul.sub-menu {
    background-color: #ffffff;
    border-top: 3px solid #e9900a;
    min-width: 200px;
    padding: 0px 0;
    box-shadow: 0 5px 8px rgb(0 0 0 / 15%);
    text-transform: none;
  }

  .header
    .header-row
    .header-right
    .main-menu
    li.menu-item:hover
    .sub-menu-wrapper
    li.menu-item {
    padding: 0;
    margin-right: 0;
  }

  .header
    .header-row
    .header-right
    .main-menu
    li.menu-item:hover
    .sub-menu-wrapper
    li.menu-item
    > a {
    padding: 8px;
    display: block;
    text-transform: none;
    color: #6d6c6c;
    font-size: 14px;
    font-weight: 400;
  }

  .header
    .header-row
    .header-right
    .main-menu
    .sub-menu-wrapper
    ul
    li:not(:last-child) {
    border-bottom: 1px solid rgba(204, 204, 204, 0.432);
  }

  .header .header-row .header-right .main-menu .sub-menu-wrapper ul li:hover {
    background-color: #ededed;
  }

  /* Mega menu styles */
  .header .header-row .header-right .main-menu .mega-menu .mega-menu-wrapper {
    position: absolute;
    left: 0px;
    display: none;
    padding: 20px 25px;
    background-color: #ffffff;
    border-top: 3px solid #e9900a;
    width: 100%;
    box-shadow: 0 5px 8px rgb(0 0 0 / 15%);
  }

  /* Show mega menu on hover */
  .header
    .header-row
    .header-right
    .main-menu
    li.mega-menu:hover
    .mega-menu-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .header
    .header-row
    .header-right
    .main-menu
    li.mega-menu:hover
    .mega-menu-wrapper
    .mega-menu-col
    h5 {
    text-transform: uppercase;
    margin-bottom: 15px;
    padding-left: 8px;
  }

  .header
    .header-row
    .header-right
    .main-menu
    li.mega-menu:hover
    .mega-menu-wrapper
    .mega-menu-col
    ul {
    list-style: none;
    margin-left: 0px;
    margin-right: 20px;
  }

  .header
    .header-row
    .header-right
    .main-menu
    li.mega-menu:hover
    .mega-menu-wrapper
    .mega-menu-col
    ul
    li
    a {
    text-decoration: none;
    padding: 8px;
    display: block;
    font-size: 14px;
    color: rgba(149, 151, 151, 1);
  }

  .header
    .header-row
    .header-right
    .main-menu
    li.mega-menu:hover
    .mega-menu-wrapper
    .mega-menu-col
    ul
    li:hover
    a {
    background-color: rgba(222, 225, 226, 0.466);
  }
}

.header .mobile-toggler {
  color: #ffffff;
  background-color: #0088cc;
  cursor: pointer;
  padding: 7px 13px;
  text-align: center;
  font-size: 13px;
  vertical-align: middle;
  margin: 8px 0 8px 1em;
  line-height: 20px;
}
/*banner Section Css*/
.banner_section h1 {
	color: #2E2F43;
	font-size: 39px; 
	font-weight: 800;
	line-height: 60px;
}
.banner_info {
	padding: 90px 0;
}
.typewrite {
	position: relative;
	color: #e3204a;
	text-decoration: none;
}
.typewrite::after {
	content: "]";
	padding-left: 12px;
}
.typewrite::before {
	content: '[';
	padding-right: 12px;
}
.media_box {
	padding: 20px 15px;
}
.row.media_box_style {
	border-bottom: 2px solid #ddd;
}
.media_box:first-child {
	border-right: 2px solid #ddd;
}
.banner_video {
	background: url(images/banner.jpg);
	background-position: center center;
	background-size: cover;
	
}
#myVideo {
	position: relative;
}
  
.banner_video .content {
	position: absolute;
	top: 20%;
	right: 7%;
	background: rgba(255, 255, 255, 0.8);
	color: #000;
	width: 38%;
	padding: 50px;
}